{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa Reseptiarkistoon!</h1>
  </div>
    <div class="container">
      {% if message %}
      <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
      </div>
      {% endif %}
      {% if error %}
      <div class="alert alert-warning alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{error}}
      </div>
      {% endif %}
      <div class="row">
        <div class="col-sm-4">
          <h3>Suosituimmat reseptit</h3>
          {% for resepti in suosituimmat %}
          {{ include('resepti/reseptit_resepti_item.html') }}
          {% endfor %}
        </div>
        <div class="col-sm-4">
          <h3>Uusimmat reseptit</h3>
          {% for resepti in uusimmat %}
          {{ include('resepti/reseptit_resepti_item.html') }}
          {% endfor %}
        </div>
        <div class="col-sm-4">
          <h3>Kaikki reseptit</h3>
          {% for resepti in reseptit %}
          {{ include('resepti/reseptit_resepti_item.html') }}
          {% endfor %}
        </div>
      </div>
  </div>

{% endblock %}
