{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Rekisteröidy Reseptiarkiston käyttäjäksi</h1>
  </div>
  <div class="container">
    <form method="post" action="{{base_path}}/kayttajat/rekisteroidy/">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
          <input type="username" class="form-control" name="kayttajanimi" id="username" placeholder="Käyttäjänimi" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
          <input type="password" class="form-control" id="pwd" name="salasana" placeholder="Salasana" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
          <input type="password" class="form-control" id="pwd" name="salasana_toisto" placeholder="Salasana uudestaan" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Rekisteröidy</button>
    </form>
    {% if message == true %}
    <br />
    <div class="alert alert-danger alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{message}}
    </div>
    {% endif %}
  </div>


{% endblock %}
