{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h3>{{resepti.nimi}}</h3>
      <h4>Tekijä: <a href="#">{{resepti.kayttajanimi}}</a></h4>
      <p>
        {{resepti.kuvaus}}
      </p>
    </div>
    <div class="col-sm-7">
      <img src="{{base_path}}/assets/img/lihapullat.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="recipe_bar">
        <li>
          <a href="#"><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-print fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-share-alt fa-2x" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-12">
    <h3>Raaka-aineet</h3>
    <span class="recipe_info">{{resepti.valm_aika}} min <i class="fa fa-clock-o" aria-hidden="true"></i> Annoksia: {{resepti.annoksia}}</span>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <ul>
        <li>- lihaa</li>
        <li>- korppujauhoja</li>
        <li>- sipulia</li>
        <li>- mausteita</li>
        <li>- lihaa</li>
        <li>- lihaa</li>
        <li>- lihaa</li>
        <li>- lihaa</li>
      </ul>
    </div>
    <div class="col-sm-5">
      <ul>
        <li>Kalorit: 1000 kcal</li>
        <li>Proteiini: 65gr</li>
        <li>Hiilihydraatit: 45gr</li>
        <li>Rasva: 34gr</li>
        <li>Kuidut: 21gr</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{resepti.ohje}}
    </div>
  </div>
</div>
{% endblock %}
