{% extends "base.html" %}

{% block content %}
<h3>Lisää resepti</h3>
  <div class="container">
    <form class="form-horizontal" action="{{base_path}}/lisaa-resepti/" method="post" enctype="multipart/form-data">
      <h4>Raaka-aineet</h4>
      <div id="raaka_aine_valinnat">

      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <input class="form-control" id="raaka_aine" type="text" placeholder="Raaka-aine" name="resepti_raaka_aineet[]">
        </div>
        <div class="col-sm-3">
          <input class="form-control" id="maara" type="text" placeholder="Määrä" name="resepti_maarat[]">
        </div>
        <div class="col-sm-2">
          <select class="form-control" id="mitta_yksikko" name="mitta_yksikko[]">
            <option value="0">Mittayksikkö</option>
            <option value="1">dl</option>
            <option value="2">cl</option>
            <option value="3">rkl</option>
            <option value="4">tl</option>
            <option value="5">grammaa</option>
            <option value="6">kappaletta</option>
          </select>
        </div>
        <div class="col-sm-1">

        </div>
      </div>
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="btn btn-default" onClick="test()">Lisää raaka-aine</button>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <h5>Valitse kuva reseptillesi (valinnainen):</h5>
          <input type="file" name="fileToUpload" id="fileToUpload">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="kuvaus">Kuvaus</label>
          <textarea class="form-control" rows="10" id="kuvaus" name="kuvaus"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="ohjeet">Ohjeet:</label>
          <textarea class="form-control" rows="10" id="ohjeet" name="ohjeet"></textarea>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="valm_aika">Valmistusaika: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="valm_aika" placeholder="Kauanko valmistaminen kestää?" name="valm_aika">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="annoksia">Annoksia: </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="annoksia" placeholder="Montako annosta reseptistä tulee?" name="annoksia">
      </div>
    </div>
    <div class="form-group">
      <label for="valitse_kategoria">Valitse kategoria</label>
      <select class="form-control" id="valitse_kategoria">
        <<option value="1">Alkuruoka tai naposteltava</option>
        <<option value="2">Pääruoka</option>
        <<option value="3">Jälkiruoka tai leivonnainen</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary">Lisää resepti</button>
  </form>
  </div>
  <script>
  var data = {{raaka_aineet|json_encode|raw}};
  var raaka_aineet = Object.keys(data).map(function(k) { return data[k][0] });
  var input = document.getElementById("raaka_aine");
  new Awesomplete(input, {
     list: raaka_aineet
  });

  function sulje(parentDiv) {
    parentDiv.remove();
  }
  </script>
{% endblock %}
