{% extends "base.html" %}

{% block content %}
{% if user_logged_in.id == reseptit.0.kayttaja_id or user_logged_in.admin %}
    <div class="container">
      <h3>Reseptit</h3>
      <div class="row">
        {% for resepti in reseptit %}
        <div class="col-sm-4">
          {% if loop.index is divisible by(2) %}
          {{ include('resepti/reseptit_resepti_item.html') }}
        </div>
        <div class="col-sm-4">
          {% elseif loop.index is divisible by(3) %}
          {{ include('resepti/reseptit_resepti_item.html') }}
        </div>
        <div class="col-sm-4">
          {% else %}
          {{ include('resepti/reseptit_resepti_item.html') }}
          {% endif %}
        </div>
        {% endfor %}
      </div>
  </div>
{% elseif not reseptit %}
  <p>
    Sinulla ei ole reseptejä.
  </p>
{% else %}
<p>
  Sinulla ei ole oikeuksia tälle sivulle.
</p>
{% endif %}
{% endblock %}
