<div class="panel panel-default">
  <div class="panel-body">
    <a href="{{base_path}}/resepti/{{resepti.id}}"><img src="{{base_path}}/assets/img/lihapullat.jpg" class="img-responsive" /></a>
    <h4><a href="{{base_path}}/resepti/{{resepti.id}}">{{resepti.nimi}}</a></h4>
    <p>{{resepti.kuvaus}}</p>
  </div>

  <div class="panel-footer clearfix">
    {% if resepti.kayttajanimi and resepti.kayttajanimi != 'poistettu' %}
    <a href="#">{{resepti.kayttajanimi}}</a>
    {% endif %}
    {% if user_logged_in %}
    <section id="suosikit{{resepti.id}}">
    {% if resepti.id in suosikit %}
    <a class="poistaSuosikki" id="{{resepti.id}}">
    <i class="fa fa-star fa-2x room right" aria-hidden="true"></i></a>
    {% else %}
    <a class="lisaaSuosikki" id="{{resepti.id}}">
    <i class="fa fa-star-o fa-2x room right" aria-hidden="true"></i></a>
    {% endif %}
    </section>
    {% else %}
    <a href="{{base_path}}/kayttajat/rekisteroidy/"><i class="fa fa-star-o fa-2x room right" aria-hidden="true"></i></a>
    {% endif %}
    </div>

</div>
